.body {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000000;
  background-color: #171717;
  flex-direction: column;
}

.title {
  width: 100%;
  height: min-content;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  margin: 30px 0 0;
  padding: 0 40px;
  position: absolute;
  top: 0;
}

input {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus-visible {
    outline: none;
  }
}

input {
  background: none;
  padding: 3px 0 5px 5px;
  width: 186px;
  border: dashed 2px;
  border-left: none;
  border-top: none;
  border-right: none;
  font-weight: 600;
}

.overflow-y {
  overflow: hidden auto;
}

.lista {
  gap: 40px;
}

.player-name {
  font-weight: 600;
  cursor: pointer;
}

.lista.row-cols-3 {
  & .player-row {
    width: 260px;
  }

  & .player-row:nth-child(1) > .position, .player-row:nth-child(1) .player-name {
    color: #ffb300;
  }
  & .player-row:nth-child(2) > .position, .player-row:nth-child(2) .player-name {
    color: #b4b6b8;
  }
  & .player-row:nth-child(3) > .position, .player-row:nth-child(3) .player-name {
    color: #d17034;
  }
}

.otherPlayers {
  display: grid;
  margin-top: 80px;
  gap: 40px;
  max-height: 260px;
}

.lista.row-cols-4 {
  justify-content: space-evenly;

  & .player-row {
    width: auto;
  }
}

.player-row {
  flex-wrap: nowrap;
  align-items: center;
  margin-top: auto;
}

.position {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  width: fit-content;
  height: 100%;
  margin-right: 5px;
  cursor: pointer;
}

.player {
  width: auto;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 40px;
}

.btn {
  width: 40px;
  height: 40px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  border-radius: 50% !important;
}

.fast-fade-in {
  animation: fadeIn .35s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
