<div class="body fade-in">
    <div class="title col-12 d-flex justify-content-center">
      <h2> Indovina il logo </h2>
    </div>

    <div class="guessLogo">
        <div class="image col-6" [style]="getImage()" title="Impiccato"></div>

        <div class="col-6 flex-column d-flex justify-content-center" style="margin-top: 140px;">
            <div class="col-12 d-flex justify-content-center word">
                @for (item of items[index]; track $index)
                {
                    <div class="char">
                        <span class="letter opacity{{ !checkIfIsLetter(item.char, true) || showLogo || item.show ? 1 : 0 }}">
                            {{ item.char }}
                        </span>
                        <div *ngIf="![' ', '-'].includes(item.char)" class="line"></div>
                    </div>
                }
            </div>
            <div class="col-12 d-flex justify-content-center" style="margin-top: 90px;">
                <img src="logo-v.png" alt="logo" height="90" width="auto" (click)="onClick()">
            </div>
        </div>
    </div>
</div>
