.introButton, .introVideo {
    position: absolute;
}

.introButton {
    width: 250px;
    height: 130px;
    z-index: 10000000;
    color: #171717;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    border: none;
    border-radius: 100px;
    transition: .2s;

    &:hover {
        transform: scale(1.1);
    }
}
