.body {
    background-image: url("/background3.jpg");
    background-position: 50% 70%;
    background-size: 100vw auto;
    flex-direction: column;
}

.title {
    text-align: center;
    margin-top: 50px;
    position: absolute;
    top: 0;

    h2 {
        font-size: 30px;
        padding: 0 30px;
        margin: 0;
    }
}

.word {
    column-gap: 12px;

    .char {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40px;
        gap: 5px;

        .letter {
            font-size: 35px;
            font-weight: 600;
            cursor: default;
        }

        .line {
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: #ffd3b3;
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;
    gap: 50px;

    img {
        -webkit-filter: drop-shadow(0 0 20px #000000bf);
        filter: drop-shadow(0 0 20px #000000bf);
    }

    app-timer {
        text-shadow: #000000bf 0 0 20px;
    }
}
