.list, .close {
    position: absolute;
    top: 20px;
    z-index: 100000000;

    svg {
        width: 35px;
        height: 35px;
        cursor: pointer;

        path {
            fill: #e5e5e5 !important;
            transition: 0.2s;
        }

        &:hover {
            path {
                fill: white !important;
            }

            path.number1 {
                fill: #ffb300 !important;
            }

            path.number2 {
                fill: #b4b6b8 !important;
            }

            path.number3 {
                fill: #d17034 !important;
            }
        }
    }
}

.list {
    left: 20px;
}

.close {
    right: 20px;
    z-index: 10000000;
}
