.list, .help, .close {
    position: absolute;
    padding: 0;
    margin: 0;
    border: none;

    &:active {
        background-color: transparent !important;
        border: none !important;
    }

    svg {
        width: 35px;
        height: 35px;

        path {
            fill: #e5e5e5 !important;
            transition: 0.2s;
        }
    }

    &:focus-visible svg, &:hover svg {
        path {
            fill: white !important;
        }

        path.number1 {
            fill: #ffb300 !important;
        }

        path.number2 {
            fill: #b4b6b8 !important;
        }

        path.number3 {
            fill: #d17034 !important;
        }

        path.i-help {
            fill: var(--bs-warning) !important;
        }
    }
}

.list {
    top: 20px;
    left: 20px;
    z-index: 100000000;
}

.help {
    bottom: 25px;
    left: 25px;
    z-index: 1000000000;

    svg {
        width: 25px;
        height: 25px;
    }
}

.close {
    top: 20px;
    right: 20px;
    z-index: 10000000;
}
