.close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100000000;

    svg {
        width: 35px;
        height: 35px;
    
        path {
            color: #e5e5e5 !important;
            transition: 0.2s;
        }
    
        &:hover {
            cursor: pointer;
    
            path {
                color: white !important;
            }
        }
    }
}
