@if (payload.gioco === 1) { <app-passa-parola></app-passa-parola> }

@else if (payload.gioco === 2) { <app-four-images-one-word></app-four-images-one-word> }

@else
{
    <div class="body fade-in">
        <div class="cards-container">
            <h1> PDG GAMES </h1>

            <div class="cards">
                @for (title of cards; track $index)
                {
                    <div class="card" [style]="getCardImage($index)" [title]="title" (click)="payload.gioco = $index + 1"></div>
                }
            </div>
        </div>
    </div>
}

@if (payload.gioco >= 1 && payload.gioco <= cards.length)
{
    <div class="close fade-in" (click)="payload.gioco = 0"> X </div>
}
