.list, .close {
    position: absolute;
    top: 20px;
    z-index: 100000000;

    svg {
        width: 35px;
        height: 35px;

        path {
            color: #e5e5e5 !important;
            transition: 0.2s;
        }

        &:hover {
            cursor: pointer;

            path.number1 {
                fill: #ffb300;
            }

            path.number2 {
                color: rgb(219, 221, 224) !important;
            }

            path.number3 {
                fill: #f16e49;
            }
        }
    }
}

.list {
    left: 20px;
}

.close {
    right: 20px;
    z-index: 10000000;
}
