.body {
    background-image: url("/background1.jpg");
    flex-direction: column;
    gap: 60px;

    .circle-container {
        position: relative;
        width: 300px;
        height: 300px;
        border: 10px #007bff solid;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(-90deg);

        img {
            transform: rotate(90deg);
        }

        .circle {
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            transition: .2s;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #007bff;
            color: whitesmoke;
            font-size: 35px;
            font-weight: 800;
        }
        .circle.hover {
            border: 3px solid #00000026;
        }
        .circle.hover:not(.circle.skip):not(.circle.success):not(.circle.error) {
            background-color: #5fc5fb;
        }
        .circle.skip {
            background-color: #ffb700;

            &.hover {
                background-color: #ffcf56;
            }
        }
        .circle.success {
            background-color: #00ff18;
        }
        .circle.error {
            background-color: #ff2727;
        }
    }
}
