.body {
    background-image: url("/background4.jpg");
    flex-direction: column;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    .completaIlVerso {
        width: 100%;
        height: 100%;
        overflow: hidden auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .domanda {
            text-align: center;
            width: 100%;

            h2 {
                font-size: 30px;
                padding: 0 30px;
                margin: 0;
            }
        }

        .risposte-container {
            width: 100%;
            margin: 20px 0;
        }
    }
}
