// .body {
//     background-image: url("/background4.jpg");
//     flex-direction: column;
//     background-position: 50% 50%;
//     background-repeat: no-repeat;

//     .completaIlVerso {
//         width: 100%;
//         height: 100%;
//         overflow: hidden auto;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;

//         .domanda {
//             text-align: center;
//             width: 100%;

//             h2 {
//                 font-size: 30px;
//                 padding: 0 30px;
//                 margin: 0;
//             }
//         }

//         .risposte-container {
//             width: 100%;
//             margin: 20px 0;
//         }
//     }
// }

.body {
    background-image: url("/background4.jpg");
    background-position: 50% 50%;
    background-size: 100vw 100vh;
    flex-direction: column;
}

.title {
    text-align: center;
    margin-top: 50px;
    position: absolute;
    top: 0;

    h2 {
        font-size: 30px;
        padding: 0 30px;
        margin: 0;
        text-shadow: #000000bf 0 0 20px;
    }
}

.domanda {
    text-align: center;
    margin-bottom: 30px;
    padding: 0 50px;

    h2 {
        font-weight: 700;
        text-shadow: rgba(0, 0, 0, 0.7490196078) 0 0 20px;
    }
}

.risposte-container {
    display: grid;
    gap: 10px;
    padding: 0 160px;

    .risposta {
        padding: 10px 15px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;
        transition: 0.2s;
        background: #0059ff8a;
        border-radius: 50px;

        &:hover {
            background-color: #004bff40;
        }
    }
    .risposta.success, .risposta.success:hover {
        background-color: #07ff008a;
    }
    .risposta.error, .risposta.error:hover {
        background-color: #ff00008a;
    }
}

.word-container {
    column-gap: 5px;
    font-size: 100px;
    font-weight: 800;
    cursor: default;
}

.footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;
    gap: 50px;

    img {
        -webkit-filter: drop-shadow(0 0 20px #000000bf);
        filter: drop-shadow(0 0 20px #000000bf);
    }

    app-timer {
        text-shadow: #000000bf 0 0 20px;
    }
}
