<div class="body fade-in">
    <div class="game-cards-container">
        <h1> PDG BIBLE GAMES </h1>

        <div class="game-cards">
            @for (card of cards; track $index)
            {
                @if ($index === cards.length - 1 ? showComingSoon : !card?.hidden)
                {
                    <div
                        class="game-card fade-in"
                        [ngClass]="{
                            'hover': this.index === $index && $index !== cards.length - 1,
                            'last': $index === cards.length - 1
                        }"
                        [style]="getCardImage($index)"
                        [title]="card.title"
                        (click)="onSelectGame($index)">
                    </div>
                }
            }
        </div>
    </div>
</div>
