.game-cards-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    overflow: hidden auto;

    h1 {
        width: 100%;
        height: min-content;
        text-align: center;
        font-size: 50px;
        font-weight: 900;
        margin: 30px 0 0;
        padding: 0 40px;
    }

    .game-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
        padding: 40px;
        gap: 40px;

        .game-card {
            $cardSize: 220px;
            width: $cardSize;
            height: $cardSize;
            border-radius: 10px;
            background-color: whitesmoke;
            background-position: 50% 50%;
            background-size: 100% 100%;
            box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
            transition: .2s;

            &:not(.hover):not(.last):hover {
                transform: scale(1.1);
                cursor: pointer;
            }
        }
        .game-card.hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}
