.timer {
    color: white;
    font-size: 80px;
    font-weight: 800;

    .minuti, .separatore, .secondi {
        font-family: "Roboto", sans-serif;
    }

    .separatore {
        margin: 0 -15px 0 -20px;
    }
}
