<div class="body fade-in">
    <div class="title col-12">
      <h2> 4 Immagini 1 Parola di Dio </h2>
    </div>
  
    <div class="images-container row col-12">
        <div class="timer-container col-md-3 d-flex justify-content-center">
            <app-timer *ngIf="showTimer" [timer]="25" (timeout)="onTimeout()"></app-timer>
        </div>

        <div class="images-col col-sm-12 col-md-6 p-0">
            <div class="images">
                <div class="images-row">
                    <div class="image col-6" [style]="getImage(0)" title="Immagine 1"></div>
                    <div class="image col-6" [style]="getImage(1)" title="Immagine 2"></div>
                </div>
            
                <div class="images-row">
                    <div class="image col-6" [style]="getImage(2)" title="Immagine 3"></div>
                    <div class="image col-6" [style]="getImage(3)" title="Immagine 4"></div>
                </div>
            </div>
        </div>

        <div class="col-md-3 d-flex justify-content-center">
            <img src="logo-v.png" alt="logo" height="110" width="auto" (click)="showWord(true)">
        </div>
    </div>
  
    <div class="footer col-12 d-flex justify-content-center">
        @for (letter of words[index]; track $index)
        {
            <div class="char">
                <span class="letter opacity{{ showLetters ? 1 : 0 }}"> {{ letter }} </span>
                <div *ngIf="letter !== ' '" class="line"></div>
            </div>
        }
    </div>
</div>
