.body {
    background-image: url("/background2.jpg");
    background-position: 50% 50%;
    background-size: 100vw 100vh;
    flex-direction: column;

    .title {
        text-align: center;
        margin-top: 50px;

        h2 {
            font-size: 30px;
            padding: 0 30px;
            margin: 0;
        }
    }

    .images-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .timer-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .images-col {
            display: flex;
            justify-content: center;
            margin: 20px 0 30px;

            .images {
                $size: calc(60vw - 2rem);
                $maxSize: 470px;
                width: $size;
                height: $size;
                max-width: $maxSize;
                max-height: $maxSize;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .images-row {
                    display: flex;
                    justify-content: space-between;

                    .image {
                        $colSize: calc(30vw - 2rem);
                        $maxColSize: 220px;
                        width: $colSize;
                        height: $colSize;
                        max-width: $maxColSize;
                        max-height: $maxColSize;
                        border-radius: 10px;
                        border: 5px solid #a3cbe5;
                        background-color: whitesmoke;
                        background-image: url("/nothing.jpg");
                        background-position: 50% 50%;
                        background-size: 100% 100%;
                    }
                }
            }
        }
    }

    .footer {
        column-gap: 12px;
        margin: 10px 0 20px;

        .char {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 35px;
            gap: 5px;

            .letter {
                font-size: 30px;
                cursor: default;
            }

            .line {
                width: 100%;
                height: 3px;
                background-color: #a3cbe5;
            }
        }
    }
}