.body {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000000000;
  background-color: #171717;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  width: 100%;
  height: min-content;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  margin: 30px 0 50px;
  padding: 0 40px;
}

:host ::ng-deep .help-text {
  width: 90%;
  margin: 0;
  max-height: calc(100vh - 200px);
  overflow: auto;
  padding: 0 20px;

  .help-title {
    font-size: 1.15rem;
    font-weight: 800;
    color: #ffecb4;
    text-decoration: underline;
  }

  b {
    color: var(--bs-warning);
  }
}

.fast-fade-in {
  animation: fadeIn .35s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
