.body {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000000000;
  background-color: #171717;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  width: 100%;
  height: min-content;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  margin: 30px 0 40px;
  padding: 0 40px;
}

:host ::ng-deep .help-text {
  width: 90%;
  margin: 0;
  max-height: calc(100vh - 230px);
  overflow: auto;
  padding: 0 20px;

  .help-title {
    font-size: 1.15rem;
    font-weight: 800;
    color: #ffecb4;
    text-decoration: underline;
  }

  .help-title:nth-of-type(n+2) {
    margin-top: 22px;
  }

  b {
    color: var(--bs-warning);
  }

  .altro-button {
    border: none;
    margin-top: 16px;

    span {
      font-weight: 600;
      gap: 5px;
      color: var(--bs-warning);

      .arrow {
        fill: var(--bs-warning);
        transition: .35s;
      }

      .arrow.clicked {
        transform: rotate(-180deg);
      }
    }

    &:hover, &:active, &:focus-visible {
      background-color: transparent;
    }
  }

  .card.card-body {
    display: block;
    background-color: transparent;
    background-clip: initial;
    border: none;
    color: whitesmoke;
    padding: 0;
    border-radius: 0;
    min-width: auto;
    height: auto;
    word-wrap: normal;

    .help-title:first-of-type {
      margin-top: 16px;
    }
  }
}

.fast-fade-in {
  animation: fadeIn .35s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
